torch                   
scanpy                 
anndata                
numpy                  
pandas                 
matplotlib            
seaborn                
random            
scikit-learn           
tqdm                  